{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
<form method="POST">
    {% csrf_token %}
    <fieldset style="width: 400px; height: 200px;">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{ title }}" readonly>
        <label for="content">Content</label>
        <textarea style="height: 100%;" name="content" id="" cols="6" rows="5">{{ content }}</textarea>
        <input type="submit" value="Save Changes">
    </fieldset>
</form>
{% endblock %}