{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
    <form method="POST">
        {% csrf_token %}
        <fieldset style="width: 400px; height: 200px;">
            <label for="title">Title: </label>
            <input type="text" name="title"><br><br>
            <label for="content">Content: </label><br>
            <textarea style="height: 100%;" name="content" id="" cols="6" rows="5"></textarea>
            <input type="submit" value="Save">
        </fieldset>
    </form>
{% endblock %}